@import 'tailwindcss';

@theme {
  --animate-typing: typing 1.8s steps(20, end) forwards;
  --animate-blink: blink 0.7s infinite;

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@layer utilities {
  .border-light-g {
    border-color: #8a8a8a;
  }
  .text-title-saju {
    color: #424242;
  }
  .bg-light-g {
    background-color: #8a8a8a;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
